<div class="page-header">
      <div class="media">
        <div class="media-left media-middle">
          <a href="#">
            <img  class= "img-circle" src="http://loremflickr.com/64/64" class="img-responsive" alt="...">
          </a>        
        </div>
      
        <div class="media-body">
          <h4 class="media-heading"><%= @comment.user.email%></h4>
          <%= @comment.body%>
          </div>
        </div>
      </div>